.promo {
	background-image: url(../images/cta-bg.png
);
	width: 100%;
	color: white;
	padding: 20px 10px;
}

.btn-promo {
	color: #EB3F7C;
	background-color: white;
	border-radius: 10px;
	padding: 5px 15px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	white-space: nowrap
}

.btn-promo:hover {
	color: white;
	background-color: #EB3F7C;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
}

.accordion-button:not(.collapsed) {
	box-shadow: none;
}

.accordion-button:focus {
	box-shadow: none;
	outline: none;
}

.accordion-body ul {
	list-style-type: disc !important;
	padding-left: 20px !important;
	margin: 0;
}

.accordion-body ul li {
	margin: 0;
	list-style-type: circle;
}

.social-iconss {
	list-style: none;
	padding: 0;
	padding-top: 40px;
	margin: 0;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.social-iconss li {
	display: inline-block;
}

.social-iconss a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #FFF;
	color: #F43F7C;
	font-size: 20px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.social-iconss a:hover {
	background-color: #F43F7C;
	color: #FFF;
}

.btn-demo {
	background: linear-gradient(-145deg, #ff407d 0, #1b3c73 100%);
	padding: 8px 30px;
	color: white;
	font-size: 14px;
	display: inline-block;
	border-radius: 5px;
	font-weight: 500;
	transition: .3s;
	border: none;
	outline: 0;
}

.btn-demo-outline {
	background: transparent;
	padding: 8px 30px;
	color: #ff407d;
	font-size: 14px;
	display: inline-block;
	border-radius: 5px;
	font-weight: 500;
	border: solid 1px #ff407d;
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-demo-outline.active {
	background: linear-gradient(-145deg, #ff407d 0, #1b3c73 100%);
	padding: 8px 30px;
	color: white;
	font-size: 14px;
	display: inline-block;
	border-radius: 5px;
	font-weight: 500;
	transition: .3s;
	border: none;
	outline: 0;
}

.btn-demo:hover {
	color: white;
}

.btn-demo-outline:hover {
	color: white;
	background: linear-gradient(-145deg, #ff407d 0, #1b3c73 100%);
	transform: translateY(3px);
}

@media (max-width: 768px) {
	swiper-container {
		--swiper-slides-per-view: 1;
	}
}

swiper-container {
	width: 100%;
	height: 100%;
}

swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-undangan,
.card-undangan-fisik {
	text-align: center;
	overflow: hidden;
	padding-bottom: 50px;
}

.card-undangan>.title,
.card-undangan-fisik>.title {
	font-size: 18px;
	font-weight: bold;
	color: #ff407d;
}

.card-undangan-fisik>img {
	margin-bottom: 20px;
	border-radius: 10px;
}

.card-undangan:hover>img,
.card-undangan-fisik:hover>img {
	animation: shake 0.3s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.fs-7 {
	font-size: 14px !important;
}

.fs-8 {
	font-size: 12px !important;
}

.text-pink {
	color: #ff407d;
}

.article-image img {
	object-fit: cover;
	width: 100%;
	height: 300px;
}

@media (max-width: 768px) {
	.article-image img {
		height: 200px !important;
	}
}

.btn-share {
    width: 30px; /* ukuran lebar tombol */
    height: 30px; /* ukuran tinggi tombol, sama dengan lebar untuk bulat sempurna */
    border-radius: 50%; /* membuat tombol menjadi bulat */
    background: linear-gradient(-145deg, #ff407d 0, #1b3c73 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* menghilangkan border */
    cursor: pointer;
    transition: background-color 0.3s ease; /* transisi untuk efek hover */
}

.btn-share svg {
    width: 24px;
    height: 24px;
}