<section class="product">
	<div class="container">
		<div class="row"
			id="imageKu">
			<div class="col-lg-12">
				<div class="section-heading">
					<h6 data-aos="fade-right">Katalog</h6>
					<h4 data-aos="fade-right">Undangan <em>Fisik</em></h4>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-000.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Undangan Estetik Lipat 2</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.200</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.050 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS00"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-001.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Undangan Elegan Tema Hijau</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.400</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.200 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS01"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-002.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Undangan Minimalis Elegan</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS02"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-003.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Undangan Romantis Lipat 3</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS03"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-12 text-center">
				<a href="/catalog/printed" class="btn-demo" style="font-size: 20px;">Lihat lainnya ...</a>
			</div>
		</div>
	</div>
</section>
