.cl-white {
    color: white !important;
}
.cl-black {
    color: black !important;
}
.cl-pink {
    color: #F14E95 !important;
}
.cl-ocean {
    color: #4275DA !important;
}
.cl-peach {
	color: #f7b787 !important;
}
.cl-greentea {
	color: #66B961 !important;
}