/* Margin */
.m-10 {
	margin: 10px;
}

.m-15 {
	margin: 15px
}

/* Margin Top */
.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

/* Margin Bottom */
.mb-5 {
	margin-bottom: 5px !important;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-22 {
	margin-bottom: 22px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-150 {
	margin-bottom: 150px;
}

/* Padding Top */
.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-50 {
	padding-top: 50px;
}

/* Max Width */
.mw-600 {
	max-width: 600px;
	margin: auto
}