<swiper-container class="mySwiper"
	navigation="true"
	pagination-type="none"
	space-between="30"
	slides-per-view="3">
	<swiper-slide>
		<div class="card-undangan"
			data-aos="zoom-in-up">
			<img src="<%= THIS %>/static/assets/site/images/catalog/odas-pink.png"
				alt="">
			<div class="title">Odas Pink</div>
			<div class="pricing mb-2">
				<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
				<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
			</div>
			<a href="/demo/odas-pink"
				target="_blank"
				class="btn-demo-outline"><i class="fa fa-link" style="margin-right: 5px;"></i> Demo</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card-undangan"
			data-aos="zoom-in-up">
			<img src="<%= THIS %>/static/assets/site/images/catalog/odas-peach.png"
				alt="">
			<div class="title">Odas Peach</div>
			<div class="pricing mb-2">
				<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
				<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
			</div>
			<a href="/demo/odas-peach"
				target="_blank"
				class="btn-demo-outline"><i class="fa fa-link" style="margin-right: 5px;"></i> Demo</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card-undangan"
			data-aos="zoom-in-up">
			<img src="<%= THIS %>/static/assets/site/images/catalog/odas-ocean.png"
				alt="">
			<div class="title">Odas Ocean</div>
			<div class="pricing mb-2">
				<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
				<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
			</div>
			<a href="/demo/odas-ocean"
				target="_blank"
				class="btn-demo-outline"><i class="fa fa-link" style="margin-right: 5px;"></i> Demo</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card-undangan"
			data-aos="zoom-in-up">
			<img src="<%= THIS %>/static/assets/site/images/catalog/odas-greentea.png"
				alt="">
			<div class="title">Odas Greentea</div>
			<div class="pricing mb-2">
				<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
				<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
			</div>
			<a href="/demo/odas-greentea"
				target="_blank"
				class="btn-demo-outline"><i class="fa fa-link" style="margin-right: 5px;"></i> Demo</a>
		</div>
	</swiper-slide>
</swiper-container>
<div class="text-center pt-4 main-button-gradient">
	<a href="/catalog">Lihat lainnya</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<style>
	
</style>
<script>
	const swiperEl = document.querySelector('swiper-container')
	Object.assign(swiperEl, {
		slidesPerView: 1,
		spaceBetween: 10,
		pagination: {
			clickable: true,
		},
		breakpoints: {
			"@0.00": {
				slidesPerView: 1,
				spaceBetween: 10,
			},
			"@0.75": {
				slidesPerView: 2,
				spaceBetween: 20,
			},
			"@1.00": {
				slidesPerView: 3,
				spaceBetween: 40,
			},
		},
	});

	swiperEl.initialize();
</script>
