<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image" data-aos="zoom-out">
                    <img src="<%= THIS %>/static/assets/site/images/cta-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6 data-aos="zoom-in-right" class="font-secondary">Tema Terbaru</h6>
                <h4 data-aos="zoom-in-right">Odas Peach</h4>
                <p data-aos="zoom-in-right">Undangan Digital dengan desain elegan dan mewah yang futuristik menggunakan paduan warna
                    biru pantai yang akan menjadikan undangan online-mu terkesan lebih mewah dan identik.</p>
                <div class="white-button" data-aos="flip-up">
                    <a target="_blank" href="/demo/odas-peach">Lihat Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>