@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,300;0,500;1,400&family=Sacramento&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.font-primary {
	font-family: 'Poppins', sans-serif !important;
}

.font-secondary {
	font-family: 'Sacramento', cursive !important;
}

.font-tertiary {
	font-family: 'Philosopher', sans-serif !important;
}

#cover {
	height: 100vh;
}

.cover-overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-y: hidden;
	transition: 0.3s;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.cover-overlay .content {
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.card-tamu {
	background: rgba(255, 255, 255, 0.2);
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}


.odas-header {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 100vh;
	position: relative;
	width: 100%;
}

.odas-header .content {
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.timer {
	margin-bottom: 2em;
}

.timer>.simply-section {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: rgba(241, 78, 149, 0.8);
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	animation: pulse 1s ease infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.timer>.simply-section>div {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	width: 100px;
}

.timer>.simply-section .simply-amount,
.timer>.simply-section .simply-word {
	display: block;
	color: white;
}

.timer>.simply-section .simply-amount {
	font-size: 30px;
}

.timer>.simply-section .simply-word {
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	font-size: 12px;
}

.odas-couple {
	width: 100%;
	margin: auto;
}

.odas-couple>p {
	max-width: 750px;
	width: 100%;
	margin: auto;
}

.couple-wrap {
	padding-top: 80px;
	padding-bottom: 80px;
	width: 90%;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}

@media screen and (max-width: 768px) {
	.couple-wrap {
		width: 100%;
	}
}

.couple-half {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.couple-half {
		width: 100%;
	}
}

.couple-half .groom,
.couple-half .bride {
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.couple-half .groom img,
.couple-half .bride img {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

@media screen and (max-width: 480px) {

	.couple-half .groom,
	.couple-half .bride {
		width: 100%;
		height: 140px;
	}

	.couple-half .groom img,
	.couple-half .bride img {
		width: 120px;
		height: 120px;
		margin: 0 auto;
	}
}

.couple-half .groom {
	float: right;
	margin-right: 5px;
}

.couple-half .bride {
	float: left;
	margin-left: 5px;
}

.couple-half .desc-groom {
	padding-right: 180px;
	text-align: right;
	margin-top: 15px;
}

.couple-half .desc-bride {
	padding-left: 180px;
	text-align: left;
	margin-top: 15px;
}

@media screen and (max-width: 480px) {

	.couple-half .groom,
	.couple-half .bride {
		margin-left: 0;
		margin-right: 0;
	}

	.couple-half .desc-groom {
		padding-right: 0;
		text-align: center;
	}

	.couple-half .desc-bride {
		padding-left: 0;
		text-align: center;
	}
}

.heart {
	position: absolute;
	top: 8em;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100px;
	margin: auto;
	animation: pulse 1s ease infinite;
}

.heart i {
	font-size: 20px;
	background: #fff;
	padding: 20px;
	color: #F14E95;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

@media screen and (max-width: 768px) {
	.heart {
		display: none;
	}
}

.couple-link {
	color: #F14E95 !important;
}

.odas-event {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.odas-event-icon i {
	font-size: 40px;
}

.odas-card {
	background-color: #fd117891;
	border-radius: 10px;
	padding: 30px;
	max-width: 350px;
	margin: auto;
}

.custom-shape-divider-top-1684156017 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.odas-timeline,
.odas-attending,
.odas-gift {
	background-color: rgba(0, 0, 0, 0.089);
	padding-top: 100px;
	padding-bottom: 100px;
}

.odas-footer {
	background-color: rgba(0, 0, 0, 0.089);
	padding: 20px;
}

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #fd11773a;
	left: 50%;
	margin-left: -1.5px;
}

.timeline>li {
	margin-bottom: 20px;
	position: relative;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-panel {
	background-color: #fd11773a;
	border-radius: 10px;
	width: 46%;
	float: left;
	padding: 20px;
	position: relative;
}

.timeline>li>.timeline-badge {
	color: #fff;
	width: 20px;
	height: 20px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -10px;
	background-color: #fd1177;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
	margin-bottom: 0;
}

.timeline-body>p+p {
	margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}

	ul.timeline>li>.timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}

	ul.timeline>li>.timeline-badge {
		left: 30px;
		margin-left: 0;
		top: 16px;
	}

	ul.timeline>li>.timeline-panel {
		float: right;
	}

	ul.timeline>li>.timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline>li>.timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

.card-bank {
	padding: 20px;
	width: 100%;
	max-width: 500px;
	margin: auto;
	border-radius: 20px;
}

.card-bank>p>img {
	width: 100px
}

.bca {
	background: linear-gradient(45deg, #1473e6, #1473e6c9, #1473e688, #1473e615);
	background-size: 100% 100%;
	color: white;
}

.mandiri {
	background: linear-gradient(45deg, #103A6C, #103A6Cc9, #103A6C88, #103A6C15);
	background-size: 100% 100%;
	color: white;
}

.bsm {
	background: linear-gradient(45deg, #00A39D, #00a39ec5, #00a39e85, #00a39e31);
	background-size: 100% 100%;
	color: white;
}

.bri {
	background: linear-gradient(45deg, #00539B, #00539bc7, #00539b70, #00539b36);
	background-size: 100% 100%;
	color: white;
}

.shopeepay {
	background: linear-gradient(45deg, #FE6233, #FE6233c7, #FE623370, #FE623336);
	background-size: 100% 100%;
	color: white;
}

.ovo {
	background: linear-gradient(45deg, #4D2A86, #4D2A86c7, #4D2A8670, #4D2A8636);
	background-size: 100% 100%;
	color: white;
}

.gopay {
	background: linear-gradient(45deg, #0080A0, #0080A0c7, #0080A070, #0080A036);
	background-size: 100% 100%;
	color: white;
}

.dana {
	background: linear-gradient(45deg, #108EE9, #108EE9c7, #108EE970, #108EE936);
	background-size: 100% 100%;
	color: white;
}

.addrs {
	background: linear-gradient(45deg, #fd1177, #fd1177c7, #fd117770, #fd117736);
	background-size: 100% 100%;
	color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.odas-galery {
	padding-top: 100px;
	padding-bottom: 100px;
}

.form-floating {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form-control {
	border: 1px solid #fd1177;
	border-radius: 10px;
}

.form-floating>label {
	color: rgb(160, 159, 159);
}

.odas-btn {
	opacity: .8;
	border: none;
	border-radius: 10px;
	transition: 0.3s;
}

.odas-btn:hover {
	opacity: 1;
}

.btn-kirim {
	background-color: #fd1177;
	color: white;
	width: 100%;
	max-width: 500px;
	height: 50px;
	margin: auto;
}

.btn-kirim-disable {
	cursor: no-drop !important;
	opacity: .8;
	border: none;
	border-radius: 10px;
	background-color: #d46696;
	color: white;
	width: 100%;
	max-width: 500px;
	height: 50px;
	margin: auto;
}

.btn-confirm {
	display: block;
	background-color: #fd1177;
	color: white;
	height: 40px;
	padding: 0 20px
}

#btn-confirm-disable,
#btn-kirim-disable {
	display: none;
}

.btn-buka {
	background-color: #fd1177;
	color: white;
	height: 50px;
	padding: 0 20px;
	border-radius: 30px;
}

.btn-tutup {
	background-color: #6e6d6e;
	color: white;
	height: 40px;
	padding: 0 20px
}

.btn-salin {
	background-color: #333333;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
}

.btn-map {
	background-color: #333333;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
	text-decoration: none;
}

.btn-outline-primary {
	border: 1px solid #fd1177 !important;
	color: #fd1177 !important;
}

.btn-check:checked+.btn {
	background-color: #fd1177 !important;
	color: #fff !important;
}

.msg-area {
	max-width: 500px;
	padding-right: 10px;
	margin: auto;
	height: 500px;
	overflow: auto;
}

.msg-area::-webkit-scrollbar {
	width: 5px;
}

.msg-area::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

.msg-area::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

.msg-area::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.msg-item {
	display: flex;
	flex-direction: row;
}

.msg-item>.user-icon {
	width: 55px;
}

.msg-item>.user-content {
	background-color: #fd117750;
	width: 100%;
	border-radius: 10px;
	text-align: left;
	padding: 10px;
}

.circle {
	background-color: #fd117750;
	border-radius: 50%;
	height: 40px;
	text-align: center;
	width: 40px;
}

.initials {
	font-size: calc(40px / 2);
	line-height: 1;
	position: relative;
	top: calc(40px / 4);
}

.menu {
	color: white;
	/* z-index: 100; */
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 500px;
}

.menu>.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fd1177;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
}

.menu>.wrapper>.item {
	text-align: center;
	padding: 10px 15px;
}

@media screen and (min-width: 768px) {
	.menu {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.odas-footer {
		padding-bottom: 100px;
	}
}

.play-stop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#btn-play,
#btn-stop {
	color: white;
	background-color: #fd1177;
	padding: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
}

#btn-play>i {
	color: white;
}

@media screen and (max-width: 768px) {
	.play-stop {
		top: 15px;
		right: 15px;
		height: 50px;
	}
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: none !important;
	border: 1px solid #fd1177 !important;
}