@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,300;0,500;1,400&family=Sacramento&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.font-primary {
	font-family: 'Poppins', sans-serif !important;
}

.font-secondary {
	font-family: 'Sacramento', cursive !important;
}

.font-tertiary {
	font-family: 'Philosopher', sans-serif !important;
}


body {
	margin: 0;
	background-image: url("../../img/minang-prime-bg.jpg");
}